.headerContainer {
    background-color: var(--white);
    height: 6.5rem;
    display: flex;
    align-items: center;
    padding: 2rem 4rem;
    border-bottom: 1px solid var(--gray-100);

    p {
        margin-left: 2rem;
        padding: 0.25rem 0 0.25rem 2rem;
        border-left: 1px solid var(--gray-100);
    }

    span {
       margin-left: auto;
       text-transform: capitalize; 
    }
}

@media (max-width: 768px) {
    .headerContainer {
        padding: 2rem;

        p, span {
            font-size: .775rem;
        }
    }
}

@media (max-width: 425px) {
    .headerContainer {
        flex-direction: column;
        height: auto;
        padding: 1rem;

        p {
            margin: 0 auto;
            border: none;
            padding: 0;
            padding-top: 1rem;
        }
        
        span {
            margin: 0 auto;
            padding-top: .5rem;
        }
    }
}